extends ../layouts/main-layout.pug
block title 
    title Hakkımızda 

block content 
    h1.text-center.mt-5 Hakkımızda

    .call-to-action
        .container
            .row
                .col-lg-12
                    .main-content
                        .row
                            .col-lg-8
                                h4 Melih Koç
                                span Blog.com

