extends ../layouts/main-layout.pug
block title 
    title Blog Ekle 

block content 
    h1.text-center Blog Ekle
    section.about-us
        .container
            .row
                .col-lg-12 
                    if errorMessage 
                        .alert.alert-danger #{errorMessage}
                .col-lg-12
                    form(method="POST",action="/add-blog",enctype="multipart/form-data")
                        .mb-3
                            label(for="name", class="form-label d-flex justify-content-start") Başlık
                            input(type="text", class="form-control", name="name" ,id="name")
                        .mb-3
                            label(for="content", class="form-label d-flex justify-content-start") Blog Yazısı
                            textarea(class="form-control", name="content" ,id="content")
                        .mb-3
                            each category in categories 
                                .form-check.form-check-inline
                                    input.form-check-input(type="checkbox",name="categoryids",value=`${category._id}`)
                                    label.form-check-label() #{category.name}
                        .mb-3
                            input.form-control-file(type="file",name="image",required)
                        .mb-3.d-flex.justify-content-between.align-items-center
                            button(type="submit", class="btn btn-primary") Yükle   
